.leaflet-container {
  height: 100vh;
  width: 100vw;
}

.upload {
  margin-top: 10%;
}

.setting-button-color {
  background: rgb(63,129,163);
background: linear-gradient(90deg, rgba(63,129,163,1) 1%, rgba(13,176,128,1) 36%, rgba(42,183,189,1) 100%);
  padding: 12px;
  border: none;
  width: 20%;
  border-radius: 10px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}

.setting-button-color:hover {
  background: rgb(63,129,163);
}

.image-upload>input {
  display: none;
}

.image-upload {
  border: none;
}